@charset "UTF-8";
    div{
        text-align: center;
    }

    body {
        background-color: #68686899;
        color: #ffffff;
    }
    .modoru{
        width: 150px;
        height: 30px;
        border-radius:25px;
        background-color: #ffffff;
        border-color:#eeff53 ;
        color: rgb(0, 0, 0);
        cursor: pointer;
    }
    table,th,td{
        border-collapse: collapse;
        border: 1px solid #ccc;
    }

    table th {
        font-weight: bold;
        vertical-align: top;
        background: #8c8c8c;
        color: #ffffff;
      }
      table td {
        padding: 10px;
        vertical-align: top;
      }