@charset "UTF-8";

div{
    text-align: center;
}

body {
    background-color: #68686899;
    color: #ffffff;
}
.ib {
    display:inline-block;
    margin: auto;
}
.th0,.th1,.th2,.td0,.td1,.td2{
    display:inline-block;
    padding-bottom:5px;
    margin: auto;
}
.th0,.th1,.th2{
    text-align:center;
    font-weight:bold;
    margin: auto;
}
.th0,.td0{
    width:4em;
    margin: auto;
}
.th1,.td1{
    width:11em;
    margin: auto;
}
.modoru{
    width: 150px;
    height: 30px;
    border-radius:30px;
    background-color: #ffffff;
    border-color:#e865ff ;
    color: rgb(0, 0, 0);
    cursor: pointer;
}